*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
}



.img_sesion{
    height: 100vh;
    width: 50vw;
    
}

.div_SesionContenido #p_inicioSesion{
    margin-top: 10vh;
font-size:50px;
}

.div_SesionContenido img{
    width: 10vw;
    height: 10vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
}


.div_SesionContenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 100vh;
   
}

.div_SesionContenido h1{
    margin-top: 10vh;
}

.div_SesionContenido p{
    margin-top: 10px;
    font-size: 25px;
    margin-bottom: 10px;
}

.input_sesion{
    font-size: 15px;
    width: 25vw;
    height: 5vh;
    border: none;
    border-bottom:2px solid black;
}

.input_sesion::placeholder{
    font-size: 15px;
}

.div_SesionContenido button{
    width: 10vw;
    height: 5vh;
    border-radius:10vw;
    background-color: #0098CF;
    color: #ffff;
    border:0px solid transparent;
    margin-top: 5vh;
    box-shadow: 2px 2px 5px 2px #666666;
    transition-property: box-shadow transform;
    transition-duration: .5s;


}


.div_SesionContenido button:hover{
box-shadow: 0px 0px 0px 0px #666666;
transform: scale(1.1);
}

.div_rec{
    margin-top:1vh;
    width: 25vw;
    
}
.div_rec #span1,.div_rec #span2{
    font-size: 15px !important;
}

.div_rec #span2{
color:#0098CF;
}

[alt="IconoMenu"]
{
    position: absolute;
    width: 5vw;
    height: 5vw;
    z-index: 100;
    transform: translateX(95vw);
}

.div_Menu_Seleccion{
    position: absolute;
    z-index: 200;
    width:20vw;
    background-color: #ffff;
    box-shadow: 2px 2px 5px 2px #666666;
    border-radius: 10px;
    transform: translate(79vw, 13vh);
}
.div_Menu_Seleccion div:first-child{
   border-bottom: 1px solid black;

}
.div_Menu_Seleccion p{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.div_Menu_Seleccion div {
    width: 20vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.div_Menu_Seleccion div img{
    width: 5vw;
    height: 5vw;
    margin-right: 1vw;
}

.div_Menu_Seleccion div p{
    margin-left: 1vw;
}



#div_Menu_Acotacion
{

position:absolute;
z-index: 200;
width: 20.3vw;
height: 11vh;
display: flex;
flex-direction: row;
align-items: center;
transform:translateX(79vw);
border: none;
box-shadow: 0px 0px 5px 2px #666666;
border-radius: 20px;
}

#div_Menu_Acotacion p{
margin-left: 1vw;
}

#div_Menu_Acotacion img{
width: 5vw;
height: 5vw;
}
#ImagenMenu_Acotacion{
    width: 4vw;
    height: 4vw;
    background-color: #0098CF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 2vw;
}

[Menuvisible="0"]{
    transform: translate(79vw, 13.5vh);
    z-index: -100;
    opacity: 0;
   transition-property: transform opacity;
   transition-duration: .5s;
}
[Menuvisible="1"]{
    transform: translate(79vw, 13.5vh);
    z-index: 300;
    opacity: 1;
    transition:opacity .5s;
}