
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.cabezera
{
    position: sticky;
    width: 94vw;
    height: 15vh;
    background-color: #008CC2;
    box-shadow: 0px 1px 5px 1px #666666;
    left: 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.cabezera img{
    width: 100px;
    height: 100px;
    margin-right: 3vw;
  filter: drop-shadow(0px 1px 5px #666666);
}
.cabezera p{
    font-size: 40px;
    color: white;
    text-shadow: 0px 1px 2px #666666;
    margin-left:5vw;
}
.menuLateral{
    position:absolute;
    width: 7vw;
    height: 99.999vh;
    background-color: #008bbd;
    z-index: 200;
    transform:translate(0,0);
    bottom:.001vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}



.Menu_Dinamico
{
   background-color: transparent;
   position: absolute;
   width:92.8vw;
   height: 84.69vh; 
   z-index: 300;
   transform: translate(7vw,0);
   overflow-x: auto;
}

.botonMenu{
    
    background-color:  #00a5e1;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 2px 5px .1px rgb(37, 36, 36);
    transition-property: transform;
    transition-duration: .5s;
    
}

.botonMenu:hover{
    transform: scale(1.1);
}

[alt="IconoApartado"]
{
    width: 45px;
    height: 45px;
    filter:drop-shadow(0px 1px 1px black);
    
    
}

[botonSeleccionado="true"]
{
background-color: #005777;
}


/* Estilos de menu principal*/

#calendario {
    width: 600px; /* Cambiar el ancho del calendario */
    margin: 20px auto; /* Centrar */
}

/* Cambiar tamaño de fuente en el calendario */
.flatpickr-calendar {
    font-size: 16px; /* Ajustar tamaño de fuente */
    font-family: Arial, Helvetica, sans-serif;
}

/* Cambiar tamaño de los días del calendario */
.flatpickr-day {
    height: 40px; /* Altura de cada celda */
    width: 40px; /* Ancho de cada celda */
    line-height: 40px; /* Centrado vertical */
}

/* Opcional: Ajustar el estilo de los días seleccionados */
.flatpickr-day.selected {
    background-color: #007BFF; /* Color de fondo */
    color: white; /* Color de texto */
    border-radius: 50%; /* Forma circular */
}
.flatpickr-calendar.inline{
    box-shadow: 1px 1px 2px 2px #666666;
    transition: transform;
    transition-duration: .5s;
}

.flatpickr-calendar.inline:hover{
   transform: scale(1.1);
}

.Menu_Dinamico_Doctores_PanelPrincipal_SubApartado1
{
    width: auto;
    height: 50vh;
    display: flex;
    flex-direction: row;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#Calendario{
    margin-right: 5vw;
}

.Menu_Dinamico_Doctores_PanelPrincipal_SubApartado1_Subapartado1{

  width:90%;
  height: auto;
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Menu_Dinamico_Doctores_PanelPrincipal_SubApartado1_Subapartado1_ContenedorInfo
{
    width: 95%;
    height: 20vh;
    margin-right:1vw;
    margin-left: 1vw;
    border-radius: 20px ;
    box-shadow: 1px 1px 2px 2px #666666;
}

.Menu_Dinamico_Doctores_PanelPrincipal_SubApartado1_Subapartado1_ContenedorInfo:nth-child(1){
    background-color: white;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.Menu_Dinamico_Doctores_PanelPrincipal_SubApartado1_Subapartado1_ContenedorInfo:nth-child(2){
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.Menu_Dinamico_Doctores_PanelPrincipal_SubApartado1_Subapartado1_ContenedorInfo:nth-child(2) p{
    font-size: 20px;
    margin: .5vh;
}

.Menu_Dinamico_Doctores_PanelPrincipal_SubApartado1_Subapartado1_ContenedorInfo:nth-child(1) p{
    font-size: 20px;
    margin: .5vh;
}

.Menu_Dinamico_Doctores_PanelPrincipal_SubApartado1_Subapartado1_ContenedorInfo:nth-child(1) button{
    width: 15vw;
    background-color: #008CC2;
    font-size: 18px;
    border: none;
    border-radius: 20px;
margin-top: 1vh;
transition: transform;
transition-duration: .5s;
}

.Menu_Dinamico_Doctores_PanelPrincipal_SubApartado1_Subapartado1_ContenedorInfo:nth-child(1) button:hover{
    transform: scale(1.1);
}
.Menu_Dinamico_Doctores_PanelPrincipal_SubApartado1_Subapartado1_ContenedorInfo:nth-child(1) button:active{
    transform: scale(.8);
}

.Menu_Dinamico_Doctores_PanelPrincipal_SubApartado2{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 40vh;
    margin:  auto;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 1px 2px 2px #666666;
    margin-bottom: 5vh;
    overflow-x: auto;
   align-items: center;
}

.Menu_Dinamico_Doctores_PanelPrincipal_SubApartado2_PacienteContenedor{
min-width: 17vw;
min-height: 35vh;
width: 17vw;
height:35vh;
margin: 0px 5vw;
border-radius: 20px;
box-shadow: 1px 1px 2px 2px #666666;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.Menu_Dinamico_Doctores_PanelPrincipal_SubApartado2_PacienteContenedor img{
    width: 7vw;
    height: 7vw;
    margin-bottom: 2vh;
}
.Menu_Dinamico_Doctores_PanelPrincipal_SubApartado2_PacienteContenedor p:nth-child(3){
    margin-bottom: 1vh;
}

.Menu_Dinamico_Doctores_PanelPrincipal_SubApartado2_PacienteContenedor p:nth-child(2),.Menu_Dinamico_Doctores_PanelPrincipal_SubApartado2_PacienteContenedor p:nth-child(4){
    color: blue;
}

.MensajeNoCitas{
    margin: auto auto;
    font-size: 25px;
    color: #666666;
}

/*Estilos de Doctores_AdministrarPacientes*/

.Doctores_AdministrarPacientes_1{
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 15vh;
    box-shadow: 1px 1px 2px 2px #666666;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Doctores_AdministrarPacientes_1 p:nth-child(1){
font-size: 25px;
margin-left: 1vw !important;
margin-right: 5vw;
}

.Doctores_AdministrarPacientes_1 p{
    
    margin-right:2vw;
    }
.Doctores_AdcministrarPacientes_1_InputBusqueda img
{
    width: 2vw;
    height: 2vw;
    margin-right: 1vw;
    margin-left: 1vw;
}

.Doctores_AdministrarPacientes_1_Acotacion{
    width: 3vw;
    height: 2vw;
    border: 1px groove black;
}

.Doctores_AdministrarPacientes_1_Acotacion:nth-child(2)
{
    background-color: white;
}
.Doctores_AdministrarPacientes_1_Acotacion:nth-child(4)
{
    background-color: rgb(118, 201, 121);
}
.Doctores_AdministrarPacientes_1_Acotacion:nth-child(6)
{
    background-color: rgb(200, 113, 113);
}

.Doctores_AdcministrarPacientes_1_InputBusqueda{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 1px 1px 2px 2px #666666;
    border-radius: 15px;
    

}

.Doctores_AdministrarPacientes_1_inputtext{
     height: 5vh;
     font-size: 18px;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.Doctores_AdministrarPacientes_2{
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 60vh;
    box-shadow: 1px 1px 2px 2px #666666;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.Doctores_AdministrarPacientes_2_AgregarPaciente{
    display: flex;
    flex-direction: row;
width:95%;
align-items: center;
margin: 1vh;
box-shadow: 1px 1px 2px 2px #666666;
border-radius: 10px;
}

.Doctores_AdministrarPacientes_2_AgregarPaciente img{
    width: 5vw;
    height: 5vw;
    margin-left:2vw;
    margin-right: 2vw;
}

.Doctores_AdministrarPacientes_2_AgregarPaciente p{
    font-size: 25px;
    color: #666666;
}

.Doctores_AdministrarPacientes_2_Paciente{
    display: flex;
    flex-direction: row;
width:95%;
align-items: center;
margin: 1vh;
box-shadow: 1px 1px 2px 2px #666666;
border-radius: 10px;
}

.Doctores_AdministrarPacientes_2_Paciente img{
    width: 5vw;
    height: 5vw;
    margin-left:2vw;
    margin-right: 2vw;
    filter:drop-shadow(1px 1px 2px black);
}

[Estado='Sin registro']
{
    background-color: transparent;
}
[Estado='Sin riesgo']
{
    background-color: rgb(118, 201, 121);
}
[Estado='En riesgo']
{
    background-color: rgb(200, 113, 113);
}
.Doctores_AdministrarPacientes_2_Paciente_SubApartado{
    display: flex;
    flex-direction: column;
    width: 11vw;
    margin-left: 3vw;
}

.Doctores_AdministrarPacientes_2_Paciente_SubApartado p{
margin: 1vh;
}
.Doctores_AdministrarPacientes_2_Paciente_SubApartado p:nth-child(1){
    color: blue;

}

/*Apartado de agregar doctores*/
.Doctores_AgregarPaciente_Apartado1{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Doctores_AgregarPaciente_Apartado1_divImg{
    padding: 1vw;
    border: 20px;
    box-shadow: 1px 1px 2px 2px #666666;
    border-radius: 20px;
    margin-left: 5vh;
}

.Doctores_AgregarPaciente_Apartado1 p{
font-size: 50px;
color: #666666;
margin-left: 10vh;
}

.Doctores_AgregarPaciente_Apartado2{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.Doctores_AgregarPaciente_Apartado2 p{
font-size: 25px;
}

.Doctores_AgregarPaciente_Apartado2 input{
    width:88vw;
    font-size: 18px;
    border:1px solid #666666;
    border-radius: 10px;
    height: 5vh;
    box-shadow: 1px 1px 2px 2px #666666;

}

.Doctores_AgregarPaciente_Apartado2_entrada{
    margin-top: 2vh;
}

.Doctores_AgregarPaciente_Apartado3{
    margin-bottom: 2vh;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Doctores_AgregarPaciente_Apartado3 button{
    font-size: 16px;
    color: white;
    padding: 1vh;
    border-radius: 20px;
    width: 15vw;

}

.Doctores_AgregarPaciente_Apartado3 button:nth-child(1){
    background-color: #008CC2;
    margin-right: 2vh;
}

.Doctores_AgregarPaciente_Apartado3 button:nth-child(2){
    background-color: #c20000;
    margin-left: 2vh;
}

/*Estilos para el sub menu de modificar pacientes*/
.Doctores_MenuPaciente{
  
width: 90%;
height: 70%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin: auto auto;
margin-top: 10vh !important;

}

.Doctores_MenuPaciente_Paciente
{
    transform: translate(5vw,7vh);
    font-size:30px;
    padding: 1vh;
    box-shadow: 1px 1px 2px 2px #666666;
    border-radius: 15px;
    width: fit-content;
}

.Doctores_MenuPaciente_Opcion {
width:20vw;
height: 50vh;
box-shadow: 1px 1px 2px 2px #666666;
margin: 3vh;
border-radius: 20px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.Doctores_MenuPaciente_Opcion img{
    width: 7vw;
    height: 7vw;
    object-fit: cover;
    margin-bottom: 10vh;
}

.Doctores_MenuPaciente_Opcion p{
    font-size: 25px;
    color: #666666;
    text-align: center;
}

[opcion='EditarPaciente'] img{
    margin-top: 4vh;
}

[desc='Doctores_EditarP_IconoP']
{
width:10vw;
height: 10vw;
}

/* Estilos para el apartado de ver informacion de las citas  */

.Doctor_ContenedorCitas_Paciente{
    width: 95%;
height: 80%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin: auto auto;
margin-top: 10vh !important;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}

.Doctor_ContenedorCitas_Paciente_SelectorCitas{
width: 30%;
height: 95%;
margin-right: 2vw;
border-radius: 20px;
overflow-y: auto;
box-shadow:1px 1px 2px 2px #666666;
display: flex;
flex-direction: column;
align-items: center;

}
.Doctor_ContenedorCitas_Paciente_InformacionExpediente{
    width: 60%;
    height: 95%;
    overflow-y: auto;
    margin-left: 2vw;
    border-radius: 20px;
    box-shadow:1px 1px 2px 2px #666666;
    display: flex;
    flex-direction: column;
    align-items: center;
}

[titulo='Doctor_PacienteCitasRegistradas']{
font-size: 25px;
transform: translate(10vh,15vh);
}

[titulo='Doctor_PacienteExpedienteCitas']{
font-size: 25px;
transform: translate(75vh,10.5vh);
}

[selectorCitaId]
{
display: flex;
flex-direction: column;
justify-content: center;
width: 23vw;
min-height: 10vh;
box-shadow: 1px 1px 2px 2px #666666;
border-radius: 15px;
margin-bottom: 1vh;
margin-top: 1vh;

}

[selectorCitaId] p{
width: fit-content;
}
[selectorCitaId] p:nth-child(1)
{
    font-size: 18px;
    width: fit-content;
}

.Doctor_ContenedorCitas_Paciente_InformacionExpediente_IdExpediente{
    font-size: 30px;
    margin-top: 3vh;
    margin-bottom: 1vh;
}
.Doctor_ContenedorCitas_Paciente_InformacionExpediente_SubApartado1{
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
    width: 100%;
    justify-content: center;
}
.Doctor_ContenedorCitas_Paciente_InformacionExpediente_SubApartado1_contenedorInfo{
    margin-left:2vw;
    margin-right: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Doctor_ContenedorCitas_Paciente_InformacionExpediente_SubApartado1_contenedorInfo [p1]
{
font-size: 25px;
}

.Doctor_ContenedorCitas_Paciente_InformacionExpediente_SubApartado1_contenedorInfo [p2]
{
font-size: 20px;
text-align: center;
border-bottom: 1px solid black;
width: fit-content;
}

