*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.cabezera
{
    position: sticky;
    width: 94vw;
    height: 15vh;
    background-color: #318E49;
    box-shadow: 0px 1px 5px 1px #666666;
    left: 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.cabezera img{
    width: 100px;
    height: 100px;
    margin-right: 3vw;
  filter: drop-shadow(0px 1px 5px #666666);
}
.cabezera p{
    font-size: 40px;
    color: white;
    text-shadow: 0px 1px 2px #666666;
    margin-left:5vw;
}

.menuLateral{
    position:absolute;
    width: 7vw;
    height: 99.999vh;
    background-color: #37944E;
    z-index: 200;
    transform:translate(0,0);
    bottom:.001vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}



.Menu_Dinamico
{
   background-color: transparent;
   position: absolute;
   width:92.8vw;
   height: 84.69vh; 
   z-index: 300;
   transform: translate(7vw,0);
   overflow-x: auto;
   
}

.botonMenu{
    
    background-color: #2E7D43;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 2px 5px .1px rgb(37, 36, 36);
    transition-property: transform;
    transition-duration: .5s;
    
}

.botonMenu:hover{
    transform: scale(1.1);
}

[alt="IconoApartado"]
{
    width: 45px;
    height: 45px;
    filter:drop-shadow(0px 1px 1px black);
    
    
}

[botonSeleccionado="true"]
{
background-color: #144621;
}

.Menu_Dinamico_AdministrarPerfil_SubApartado1{
    
    padding-top:5vh;
    display: flex;
    flex-direction: row;
}



.Menu_Dinamico_AdministrarPerfil_SubApartado1_DivImg
{
    width: 200px;
    height: 200px;
    background-color: #2E7D42;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 5px 3px #666666;
    margin-left: 5vw;
    

}
.Menu_Dinamico_AdministrarPerfil_SubApartado1_DivImg img{
    width: 180px;
    height: 180px;
    filter: drop-shadow(0px 1px 2px black);
}

.Menu_Dinamico_AdministrarPerfil_SubApartado1_Div_1
{
    display: flex;
    flex-direction: column;
    
    width: 60vw;
    margin-left: 2vw;
    height: 33vh;
}

.Menu_Dinamico_AdministrarPerfil_SubApartado1_Div_1 p,.Menu_Dinamico_AdministrarPerfil_SubApartado2_Div2,.Menu_Dinamico_AdministrarPerfil_SubApartado2_Div1 {
    font-size: 25px;
}


.Menu_Dinamico_AdministrarPerfil_SubApartado1_Div_1_DivImput input
{
border: none;
border-bottom: 1px solid black;
background-color: transparent;
font-size: 18px;
margin-bottom: 2vh;
width: 30vw;
margin-top: 1vh;
}
.Menu_Dinamico_AdministrarPerfil_SubApartado1_Div_1_DivImput input::placeholder{
    font-size: 18px;
}


.Menu_Dinamico_AdministrarPerfil_SubApartado1_Div_1_DivImput div img{
    margin-left: 1vw;
    width: 2.5vw;
    height: 2.5vw;
    margin-bottom: 1vh;
    
}
.Menu_Dinamico_AdministrarPerfil_SubApartado1_Div_1_DivImput_Div{
    display: flex;
    flex-direction: row;
    margin-bottom: 1vh;
}
.Menu_Dinamico_AdministrarPerfil_SubApartado2{
    
    height: 32vh;
    margin-left: 5vw;

}

.Menu_Dinamico_AdministrarPerfil_SubApartado2{
    display: flex;
    flex-direction: row;

}

.Menu_Dinamico_AdministrarPerfil_SubApartado2_Div1,.Menu_Dinamico_AdministrarPerfil_SubApartado2_Div2{
display: flex;
flex-direction: column;
width: 40vw;
height: 30vh;
margin-top: 5vh;
}

.Menu_Dinamico_AdministrarPerfil_SubApartado2_Div2{
    margin-left: 3vw;
}

.Menu_Dinamico_AdministrarPerfil_SubApartado2_Div2 div:nth-child(1),.Menu_Dinamico_AdministrarPerfil_SubApartado2_Div1 div:nth-child(1)
{
    margin-bottom: 5vh;
}

.Menu_Dinamico_AdministrarPerfil_SubApartadoSubmit{
    width: auto;
    height: 14vh;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Menu_Dinamico_AdministrarPerfil_SubApartadoSubmit_button{
width: 12vw;
height: 6vh;
border-radius: 25px;
border: none;
background-color: #2E7D42;
box-shadow: 1px 1px 5px 1px #666666;
color: white;
font-size: 16px;
transition-property: background-color transform;
transition-duration: .5s;

}

.Menu_Dinamico_AdministrarPerfil_SubApartadoSubmit_button:hover{
    background-color: #144621;
}

.Menu_Dinamico_AdministrarPerfil_SubApartadoSubmit_button:active{
transform: scale(0.7);
}

/*Estilo para el apartado de administrar clinicas*/
.Administrador_PanelClinicas_Busqueda{
    width: auto;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-left: 35vw;
    margin-right: 1vw;
}

.Administrador_PanelClinicas_Busqueda_inputimg{
    width:auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
   
    box-shadow: 1px 1px 5px 2px #666666;
    border-radius: 10px;
}
.Administrador_PanelClinicas_Busqueda_inputimg input{
    width: 15vw;
    height: 3vw;
    font-size: 18px;
    border: none;
    background-color: transparent;
}

.Administrador_PanelClinicas_Busqueda_inputimg img{
    width: 3vw;
    height: 3vw;
    transition-property:transform;
    transition-duration:.5s;
}

.Administrador_PanelClinicas_Busqueda_inputimg img:hover{
transform: scale(1.1);
}

.Administrador_PanelClinicas_Busqueda_inputimg img:active{
    transform: scale(.1);
}

.Administrador_PanelClinicas{
    margin-top: 1vh;
    width: 79.5vw;
    height:auto;
    padding: 2vw 2vh;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin-left: 6vw;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 2px #666666;
}

.Administrador_PanelClinicas_Descripcion{
width:auto;
display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 1px 1px 5px 2px #666666;
    width: fit-content;
    height: 10vh;
    margin-top: 5vh;
    margin-left: 6vw;
    border-radius: 10px;

}
.Administrador_PanelClinicas_Descripcion p{
    font-size: 40px;
    padding: 1vw;
    border-radius: 10px;
}

.div_Clinica img{
    width: 10vw;
    height: 10vw;
}


.div_Clinica{
    min-width: 20vw;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-left: 5vw;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px 5px 3px #666666;
    transition: transform;
    transition-duration: 1s;
}

.div_Clinica p{
    font-size: 18px;
}

.div_Clinica:hover{
    transform: scale(1.1);
}

[tipo="Agregar"] p
{
font-size: 30px;
margin-top: 5vh;
color: #666666;
}


.Administrador_Clinicas_ventanaEditar, .Administrador_Clinicas_ventanaAgregar{
  
    width: auto;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.Administrador_Clinicas_ventanaEditar img,.Administrador_Clinicas_ventanaAgregar img{
    width: 40vw;
    height: 40vw;
}

.Administrador_Clinicas_ventanaAgregar img{
    width: 30vw;
    height: 30vw;
    margin-left: 5vw;
}
.Administrador_Clinicas_ventanaEditar_div, .Administrador_Clinicas_ventanaAgregar_div{
   margin-left: 5vw;
    width:fit-content;
    height: auto;
}

.Administrador_Clinicas_ventanaEditar_div p,.Administrador_Clinicas_ventanaAgregar_div p{
    font-size: 25px;
    margin-bottom: 1vh;
}

.Administrador_Clinicas_ventanaEditar_div input , .Administrador_Clinicas_ventanaAgregar_div input{
    width: 50vw;
    height: 5vh;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    font-size: 18px;
    margin-bottom: 5vh;
}

.contenedorBotonesVentanaEditarClinica,.contenedorBotonesVentanaAgregarClinica{
    width: auto;
    height: 14vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contenedorBotonesVentanaEditarClinica button, .contenedorBotonesVentanaAgregarClinica button{
width: 10vw;
height: 5vh;
border-radius: 20px;
border: none;
color: white;
box-shadow: 1px 1px 5px 1px #666666;
transition-property: transform;
transition-duration: .5s;
}

.contenedorBotonesVentanaEditarClinica button:hover, .contenedorBotonesVentanaAgregarClinica button:hover{
    transform: scale(1.1);
}

.contenedorBotonesVentanaEditarClinica button:active,.contenedorBotonesVentanaAgregarClinica button:active{
    transform: scale(.8);
}

.btnGuardarEditarClinica,.btnGuardarAgregarClinica{
background-color: #144621;
margin-right: 5vw;
}

.btnCancelarEditarClinica,.btnCancelarAgregarClinica{
    background-color:#730909;
    margin-left: 5vw;
    }

/* Estilos para el panel de administrador _ administrar clinicas*/

.Administrador_PanelDoctor_Busqueda{
    width: auto;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-left: 35vw;
    margin-right: 1vw;
}

.Administrador_PanelDoctor_Busqueda_inputimg{
    width:auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
   
    box-shadow: 1px 1px 5px 2px #666666;
    border-radius: 10px;
}
.Administrador_PanelDoctor_Busqueda_inputimg input{
    width: 15vw;
    height: 3vw;
    font-size: 18px;
    border: none;
    background-color: transparent;
}

.Administrador_PanelDoctor_Busqueda_inputimg img{
    width: 3vw;
    height: 3vw;
    transition-property:transform;
    transition-duration:.5s;
}

.Administrador_PanelDoctor_Busqueda_inputimg img:hover{
transform: scale(1.1);
}

.Administrador_PanelDoctor_Busqueda_inputimg img:active{
    transform: scale(.1);
}

.Administrador_PanelDoctor{
    margin-top: 1vh;
    width: 79.5vw;
    height:auto;
    padding: 2vw 2vh;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin-left: 6vw;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 2px #666666;
}

.Administrador_PanelDoctor_Descripcion{
width:auto;
display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 1px 1px 5px 2px #666666;
    width: fit-content;
    height: 10vh;
    margin-top: 5vh;
    margin-left: 6vw;
    border-radius: 10px;

}
.Administrador_PanelDoctor_Descripcion p{
    font-size: 40px;
    padding: 1vw;
    border-radius: 10px;
}

.Administrador_PanelDoctor_ContenedorDoctores{
    margin-top: 1vh;
    width: 81.5vw;
    height:50vh;
    padding: 2vw 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: auto;
    margin-left: 6vw;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 2px #666666;
   
}

.Administrador_PanelDoctor_ContenedorDoctores_Doctor,.Administrador_PanelDoctor_ContenedorDoctores_Agregar{
 width: 18vw;
 height: 20vw;
 border: none;
 box-shadow: 1px 1px 5px 2px #666666;
 border-radius: 10px;
 margin: 5vh 8vh;
 display: flex;
 flex-direction: column;
align-items: center;
transition-property: transform;
transition-duration: .5s;
}

.Administrador_PanelDoctor_ContenedorDoctores_Doctor:hover,.Administrador_PanelDoctor_ContenedorDoctores_Agregar:hover{
    transform: scale(1.1);
   }

.Administrador_PanelDoctor_ContenedorDoctores_Doctor img{
    width: 7vw;
    height: 7vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    text-anchor: 2px;

}
.Administrador_PanelDoctor_ContenedorDoctores_Doctor [tipoP='descripcion']{
    font-size: 17px;
    color: rgb(19, 35, 99);
}

.Administrador_PanelDoctor_ContenedorDoctores_Doctor [tipoP='contenido']{
    font-size: 15px;
    margin-bottom: 1.5vh;

}

[tipoOpcionDoctor='Agregar'] img
{
    width: 8vw;
    height: 8vw;
    margin-bottom: 3vh;
}

[tipoOpcionDoctor='Agregar']
{
    align-items: center  !important;
    justify-content: center  !important; 
}

[tipoOpcionDoctor='Agregar'] p{
 color:#666666;    
 font-size: 20px;
}
