*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.cabezera
{
    position: sticky;
    width: 94vw;
    height: 15vh;
    background-color: #318E49;
    box-shadow: 0px 1px 5px 1px #666666;
    left: 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.cabezera img{
    width: 100px;
    height: 100px;
    margin-right: 3vw;
  filter: drop-shadow(0px 1px 5px #666666);
}
.cabezera p{
    font-size: 40px;
    color: white;
    text-shadow: 0px 1px 2px #666666;
    margin-left:5vw;
}

.menuLateral{
    position:absolute;
    width: 7vw;
    height: 99.999vh;
    background-color: #37944E;
    z-index: 200;
    transform:translate(0,0);
    bottom:.001vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}



.Menu_Dinamico
{
   background-color: transparent;
   position: absolute;
   width:92.8vw;
   height: 84.69vh; 
   z-index: 300;
   transform: translate(7vw,0);
   overflow-x: auto;
   
}

.botonMenu{
    
    background-color: #2E7D43;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 2px 5px .1px rgb(37, 36, 36);
    transition-property: transform;
    transition-duration: .5s;
    
}

.botonMenu:hover{
    transform: scale(1.1);
}

[alt="IconoApartado"]
{
    width: 45px;
    height: 45px;
    filter:drop-shadow(0px 1px 1px black);
    
    
}

[botonSeleccionado="true"]
{
background-color: #144621;
}

.Menu_Dinamico_AdministrarPerfil_SubApartado1{
    
    padding-top:5vh;
    display: flex;
    flex-direction: row;
}



.Menu_Dinamico_AdministrarPerfil_SubApartado1_DivImg
{
    width: 200px;
    height: 200px;
    background-color: #2E7D42;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 5px 3px #666666;
    margin-left: 5vw;
    

}
.Menu_Dinamico_AdministrarPerfil_SubApartado1_DivImg img{
    width: 180px;
    height: 180px;
    filter: drop-shadow(0px 1px 2px black);
}

.Menu_Dinamico_AdministrarPerfil_SubApartado1_Div_1
{
    display: flex;
    flex-direction: column;
    
    width: 60vw;
    margin-left: 2vw;
    height: 33vh;
}

.Menu_Dinamico_AdministrarPerfil_SubApartado1_Div_1 p,.Menu_Dinamico_AdministrarPerfil_SubApartado2_Div2,.Menu_Dinamico_AdministrarPerfil_SubApartado2_Div1 {
    font-size: 25px;
}


.Menu_Dinamico_AdministrarPerfil_SubApartado1_Div_1_DivImput input
{
border: none;
border-bottom: 1px solid black;
background-color: transparent;
font-size: 18px;
margin-bottom: 2vh;
width: 30vw;
margin-top: 1vh;
}
.Menu_Dinamico_AdministrarPerfil_SubApartado1_Div_1_DivImput input::placeholder{
    font-size: 18px;
}


.Menu_Dinamico_AdministrarPerfil_SubApartado1_Div_1_DivImput div img{
    margin-left: 1vw;
    width: 2.5vw;
    height: 2.5vw;
    margin-bottom: 1vh;
    
}
.Menu_Dinamico_AdministrarPerfil_SubApartado1_Div_1_DivImput_Div{
    display: flex;
    flex-direction: row;
    margin-bottom: 1vh;
}
.Menu_Dinamico_AdministrarPerfil_SubApartado2{
    
    height: 32vh;
    margin-left: 5vw;

}

.Menu_Dinamico_AdministrarPerfil_SubApartado2{
    display: flex;
    flex-direction: row;

}

.Menu_Dinamico_AdministrarPerfil_SubApartado2_Div1,.Menu_Dinamico_AdministrarPerfil_SubApartado2_Div2{
display: flex;
flex-direction: column;
width: 40vw;
height: 30vh;
margin-top: 5vh;
}

.Menu_Dinamico_AdministrarPerfil_SubApartado2_Div2{
    margin-left: 3vw;
}

.Menu_Dinamico_AdministrarPerfil_SubApartado2_Div2 div:nth-child(1),.Menu_Dinamico_AdministrarPerfil_SubApartado2_Div1 div:nth-child(1)
{
    margin-bottom: 5vh;
}

.Menu_Dinamico_AdministrarPerfil_SubApartadoSubmit{
    width: auto;
    height: 14vh;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Menu_Dinamico_AdministrarPerfil_SubApartadoSubmit_button{
width: 12vw;
height: 6vh;
border-radius: 25px;
border: none;
background-color: #2E7D42;
box-shadow: 1px 1px 5px 1px #666666;
color: white;
font-size: 16px;
transition-property: background-color transform;
transition-duration: .5s;

}

.Menu_Dinamico_AdministrarPerfil_SubApartadoSubmit_button:hover{
    background-color: #144621;
}

.Menu_Dinamico_AdministrarPerfil_SubApartadoSubmit_button:active{
transform: scale(0.7);
}

/*Estilo para el apartado de administrar clinicas*/
.Administrador_PanelClinicas_Busqueda{
    width: auto;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.Administrador_PanelClinicas_Busqueda_inputimg{
    width:auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 10vw;
    box-shadow: 1px 1px 5px 2px #666666;
    border-radius: 10px;
}
.Administrador_PanelClinicas_Busqueda_inputimg input{
    width: 15vw;
    height: 3vw;
    font-size: 18px;
    border: none;
    background-color: transparent;
}

.Administrador_PanelClinicas_Busqueda_inputimg img{
    width: 3vw;
    height: 3vw;
    transition-property:transform;
    transition-duration:.5s;
}

.Administrador_PanelClinicas_Busqueda_inputimg img:hover{
transform: scale(1.1);
}

.Administrador_PanelClinicas_Busqueda_inputimg img:active{
    transform: scale(.1);
}

.Administrador_PanelClinicas{
    width: 89vw;
    height:auto;
    background-color: red;
    padding: 2vw 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.div_Clinica img{
    width: 10vw;
    height: 10vw;
}


.div_Clinica{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-left: 5vw;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px 5px 3px #666666;
    transition: transform;
    transition-duration: 1s;
}

.div_Clinica p{
    font-size: 18px;
}

.div_Clinica:hover{
    transform: scale(1.1);
}


